.forth-sec {
  background: #c1c6ca;
  display: flex;
  justify-content: space-between;
}

.forth-sec .img img {
  width: 100%;
}

.forth-sec .texto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  width: 50%;
  padding: 3% 5%;
}

.forth-sec .texto h2 {
  margin: 50px 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.forth-sec .texto h3 {
  margin: 50px 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
